@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);


.content {
  position: fixed;
  height: 100%;
  width: 100%;

}

#lightbox {
   background: white;
   border: 20px solid rgba(0, 0, 0, 0.3);
}

#allthethings {

  height: 100%;
  width: auto;

}

#single {
  
  position:absolute;
  bottom:46%;
  left:30%;
  height:10%;
  width:40%;
  background: #1f1f2e;
  text-align:center;
  font-size:30px;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  
  cursor:pointer;
  
  
  
}

#single:hover {
  background:#7A0000;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  
  
}

#options:hover {
  background:#212121;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
  
}

#credits:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

#single p {
  position:relative;
  right:4px;
  bottom: 25px;
}
#options {
  position:absolute;
  bottom:38%;
  left:30%;
  height:10%;
  width:40%;
  background:#29293d;
  text-align:center;
  font-size:30px;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  
  cursor:pointer;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#options p {
  position:relative;
  right:4px;
  bottom: 25px;
  
}

#credits {
  
  position:absolute;
  bottom:30%;
  left:30%;
  height:10%;
  width:40%;
  background:#33334d;
  text-align:center;
  font-size:30px;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  
  cursor:pointer;
  
}

#credits p {
  position:relative;
  right:4px;
  bottom: 25px;
  
}

/*CHOICES IN-GAME DOWN BELOW*/

.container {
  top:30%;
  width: 35%;
}

a {
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2vw;
  width: 20%;
  position: fixed;
  z-index: 10;
  background-image: linear-gradient(to right top, #3f3f3f, #373737, #2f2f2f, #272727, #1f1f1f);
  right:5%;
}

a:hover {
  background: #87C0D3;
}

span {
  display: block;
  padding: 8px 30px;
  position: relative;
  z-index: 10;
  background: inherit;
  text-align: center;
}

a::before, a::after, span::before, span::after {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 50%;
  background: inherit;
  z-index: -1;
  background-clip: padding-box;
  border-color: #eee;
  border-style: solid;
  border-width: 0;
}

a::before {
  top: -6px;
  left: 15%;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -o-transform: skew(45deg);
  transform: skew(45deg);
  border-top-width: 6px;
  border-right-width: 6px;
}

a::after {
  top: -6px;
  right: 15%;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  transform: skew(-45deg);
  border-top-width: 6px;
  border-left-width: 6px;
}

span::before {
  top: 50%;
  left: 15%;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  transform: skew(-45deg);
  border-bottom-width: 6px;
  border-right-width: 6px;
}

span::after {
  top: 50%;
  right: 15%;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -o-transform: skew(45deg);
  transform: skew(45deg);
  border-bottom-width: 6px;
  border-left-width: 6px;
}
